<mat-nav-list>
      <a mat-list-item routerLink="/dashboard">
        <mat-icon class="nav-icon">home</mat-icon>
        Home
      </a>

      <a mat-list-item routerLink="/dashboard/about">
        <mat-icon class="nav-icon">info</mat-icon>
        About
      </a>

      <a mat-list-item routerLink="/dashboard/contact">
        <mat-icon class="nav-icon">contact_mail</mat-icon>
        Contact
      </a>

      <a mat-list-item routerLink="/dashboard/skills">
        <mat-icon class="nav-icon">contact_mail</mat-icon>
        Skills
      </a>

      <a mat-list-item routerLink="/dashboard/projects">
        <mat-icon class="nav-icon">contact_mail</mat-icon>
        Projects
      </a>
  </mat-nav-list>