<div class="auth-wrapper">
  <mat-card class="auth-card">

    <h2 class="title">Welcome to my Portfolio 👋</h2>
    <p class="subtitle">Please login to continue</p>

    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-icon matSuffix class="login-icon">email</mat-icon>
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
          Enter valid email
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-icon matSuffix class="login-icon">password</mat-icon>
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>

      <button mat-raised-button class="full-width">
        Login
      </button>

      

    </form>

    <div class="auth-links">
      <button matButton routerLink="/forgot-password">Forgot Password?</button>
      <button matButton routerLink="/signup">Create Account</button>
    </div>

  </mat-card>
</div>