<div class="app-layout">
<app-header [isMobile]="isMobile" (toggle)="toggleSidenav()" class="app-header"></app-header>

<mat-sidenav-container class="app-container">
  <mat-sidenav #drawer
    class="app-mat-sidenav"
    [class.collapsed]="isCollapsed"
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="isSidebarOpen"
    (closedStart)="isSidebarOpen = false">

    <app-sidenav></app-sidenav>

  </mat-sidenav>

  <mat-sidenav-content>
    <main class="app-content">
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>

</mat-sidenav-container>
</div>