.layout-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header fixed height */
app-header {
  height: 64px;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Container takes remaining space */
.sidenav-container {
  flex: 1;
}

/* Sidenav width */
.sidenav {
  width: 240px;
}

/* Content spacing */
.content {
  padding: 24px;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
}



// Login scss

.auth-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 400px;
  padding: 40px;
  border-radius: 16px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
  color: white;
}

.title {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 600;
}

.subtitle {
  text-align: center;
  margin-bottom: 25px;
  opacity: 0.85;
}

.full-width {
  width: 100%;
  margin-bottom: 18px;
}