@use './variables' as v;


body {
  font-family: v.$font-family-base;
  font-size: 14px;
  line-height: 1.5;
}

h1 { font-size: 28px; font-weight: 600; }
h2 { font-size: 22px; font-weight: 500; }
h3 { font-size: 18px; font-weight: 500; }